@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  color: #3d1170;
  background-color: #e8defc23;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

nav {
  padding-top: 100px;
  color: #859eba;
}

ul {
  list-style-type: none;
}

footer {
  width: 100%;
}

h1 {
  font-size: 3em;
  text-shadow: #cc75ff -1px -1px;
  font-weight: 800;
}

h2 {
  font-weight: 600;
  font-size: 2.5em;
}

h3 {
  font-weight: 500;
  font-size: 1.5em;
}

p, dd, li {
  font-weight: 400;
  font-size: 1.25em;
}

button {
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* env Stack */
.stacks {
  display: grid;
  grid-template-areas:
    "head head"
    "env  service";
  width: 75%;
  column-gap: 4rem;
}

.stacks h2 {
  grid-area: head;
  text-align: center;
}

.stacks .environment {
  grid-area: env;
  justify-self: center;
}

.stacks .services {
  grid-area: service;
  justify-self: center;
}

dl div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

dd {
  margin-inline-start: 0;
}

.no-indent {
  padding: 0;
}

.circle {
  height: 25px;
  width: 25px;
  background-color: #e8defc;
  border-radius: 100%;
  display: inline-flex;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
}

.x::after {
  content: "x";
  color: white;
  font-weight: 600;
}

.check {
  display: inline-block;
  transform: rotate(45deg);
  height: 15px;
  width: 8px;
  border-bottom: 4px solid white;
  border-right: 4px solid white;
}

.loading {
  /* Spinner size and color */
  width: 1rem;
  height: 1rem;
  border-top-color: #cc75ff;
  border-left-color: #cc75ff;
  margin-right: 10px;

  /* Additional spinner styles */
  animation: loading 1s linear infinite;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}

@keyframes loading {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* containers */

.containers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.containers h2 {
  margin-bottom: 10px;
}


.stacks .env {
  grid-area: env;
}


.stacks .service {
  grid-area: service;
}

dl div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

dd {
  margin-inline-start: 0;
}
