.headers {
  background-color: #3d1170;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
}

.logoContainer {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 60px;
  padding: 15px;
}

.logo {
  width: 100%;
  height: 100%;
  background-image: url('/images/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.main {
  display: flex;
  min-height: 86vh;
}

.logoBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.circleDiv {
  width: 25px;
  height: 25px;
  border-radius: 100px;
  background-image: url('/cascade.png');
  background-size: 25px;
}
