.main {
  display: grid;
  align-items: center;
  background-color: #e8defc4b;
  width: 100%;
  justify-items: center;
}

.ready {
  background-color: green;
}

.not-ready {
  background-color: red;
}
